.single__service-banner{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        height: 370px;
        object-fit: cover;
        filter: blur(1px);
    }
    .single__banner-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        .content-subtitle{
            color: var(--primary-dark-color);
            font-size: 47px;
            font-weight: 800;
            text-transform: capitalize;
        }
        .banner__link-content{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            .home-link{
                color: var(--primary-dark-color);
                font-size: 17px;
                font-weight: 700;
                text-decoration: none;
            }
            span{
                font-size: 18px;
            }
            p{
                font-weight: 700;
                font-size: 17px;
                color:var(--success-color);
            }
        }
    }
}

.service__content-main__wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 3rem;
    margin-top: 3rem;
}

.categories__content-wrapper {
    max-width: 380px;
    width: 100%;

}

.service-items {
    max-width: 380px;
    width: 100% !important;
    border-radius: 24px;
    padding: 2rem 1rem;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .service-item {
        width: 100%;
        border-radius: 24px;
        background-color: var(--light-color);
        padding: 1.2rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .2s;
        &:hover {
            background-color: var(--primary-light-color);
            p, .arrow-icon {
                color: var(--light-color);
            }
        }
    
        p {
            font-size: 17px;
            font-weight: 700;
            color: var(--primary-dark-color);
        }
    
        .arrow-icon {
            color: var(--dark-color);
        }
    }
    .service-item--active {
        background-color: var(--primary-light-color);
    
        p, .arrow-icon {
            color: var(--light-color);
        }
    }
}



.work__time-card {
    margin-top: 2.5rem;
    width: 100%;
    border-radius: 24px;
    background-color: var(--primary-light-color);
    padding: 1.5rem 2rem;

    .time__card-title {
        color: var(--light-color);
        font-size: 20px;
        font-weight: 600;
    }
}

.time-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: 500;
    }
}

// INFORMATION CONTENT
.information__content-wrapper { 
    width: 100%;
    border-radius: 24px;

    .content-banner {
        width: 100%;
        height: 470px;
        border-radius: 24px;
        object-fit: cover;
    }

    .content-info {
        margin-top: 2rem;
        width: 100%;

        .info-title {
            color: var(--primary-dark-color);
            font-size: 38px;
            font-weight: 800;
            text-transform: capitalize;
        }

        .info-description {
            margin-top: 1.2rem;
            font-size: 16px;
            font-weight: 500;
            color: #788094;
            line-height: 26px;
        }
    }
}

// TREATMENT CONTENT
.treatment__content-wrapper {
    margin-top: 2.5rem;
    width: 100%;
    .content-title {
        color: var(--primary-dark-color);
        font-size: 34px;
        font-weight: 700;
    }
    .content-description{
        margin-top: .8rem;
        color: #788094;
        font-weight: 500;
        line-height: 26px;
    }
   
}

// INFORMATION SERVICE

.information__service-wrapper{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}
.service-content{
    max-width: 400px;
    width: 100%;
    height: 100px;
    .content-subtitle{
        font-size: 30px;
        color: var(--primary-dark-color);
        font-weight: 700;
    }
    .content-description{
        margin-top: .8rem;
        font-family: 15px;
        font-weight: 500;
        color: #788094;
        line-height: 27px;
    }
}

.service__item-content{
    margin-top: 2rem;
    .service-item{
        margin-top: 20px;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
        .check-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 18px;
            font-size: 17px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            color: var(--light-color);
            background-color: #04CE78;
        }
        p{
            color: #788094;
            font-size: 15px;
            font-weight: 500    ;
        }
    }
}

// OFFER CONTENT
.offers__content-wrapper{
    margin-top: 20rem;
    width: 100%;
    .content-subtitle{
        font-weight: 700;
        color: var(--primary-dark-color);
        font-size: 30px;
    }
    .content-description{
        margin-top: 1rem;
        color: #788094;
        line-height: 26px;
        font-weight: 500;
        font-size: 16px;
    }
    .offer-collapse{
        width: 100%;
    }
    .ant-collapse-item{
        border-radius: 24px !important;
        background-color: #F5F7FA;
        margin-top: 30px !important;
        padding: 10px !important;
        .ant-collapse-header-text{
            font-size: 17px;
            font-weight: 700;
            color: var(--primary-dark-color);
        }
    }
    .ant-collapse-content-box > p{
        color: #788094;
        font-size: 16px;
        font-weight: 500;
    }
}




    @media only screen and (max-width:1082px){
.service-items{
    .service-item{
        p {
            font-size: 16px;
        }
    
        .arrow-icon {
            color: var(--dark-color);
            font-size: 22px;
        }
    }
}
.information__content-wrapper { 
    .content-banner {
        height: 420px;
    }
    .content-info {
        margin-top: 2rem;
        width: 100%;

        .info-title {
            font-size: 32px;
        }

        .info-description {
            margin-top: 1rem;
            font-size: 15px;
            line-height: 26px;
        }
    }
}
.service-content{
    .content-subtitle{
        font-size: 26px;
    }
    .content-description{
        margin-top: .6rem;
        font-size: 14px;
        line-height: 24px;
    }
}
.offers__content-wrapper{
    .content-subtitle{
        font-size: 26px;
    }
    .content-description{
        margin-top: .8rem;
        line-height: 24px;
        font-size: 15px;
    }
}
    }

    @media only screen and (max-width:1003px){
    .service-items{
        .service-item{
            p {
                font-size: 15px;
            }
            .arrow-icon {
                font-size: 20px;
            }
        }
    }

    .treatment__content-wrapper{
        .content-title {
            font-size: 32px;
        }
        .content-description{
            margin-top: .8rem;
            line-height: 24px;
            font-size: 15px;
        }
    }

    .information__content-wrapper { 
        .content-banner {
            height: 380px;
        }
    }
    .service-content{
        .content-subtitle{
            font-size: 26px;
        }
        .content-description{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .service__item-content{
        margin-top: 2rem;
        .service-item{
            margin-top: 16px;
            column-gap: 5px;
            .check-icon{
                width: 16px;
                font-size: 15px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .offers__content-wrapper{
        .content-subtitle{
            font-size: 23px;
        }
        .content-description{
            font-size: 14px;
        }
    }
    }


    @media only screen and (max-width:959px){
        .service__content-main__wrapper{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            padding: 0 3.5rem;
        }
        .categories__content-wrapper{
            margin-top: 3rem;
            max-width: 100%;
        }
        .service-items{
            max-width: 100% !important;
            .service-item{
                p {
                    font-size: 16px;
                }
                .arrow-icon {
                    font-size: 22px;
                }
            }
        }
    
  
    
        .information__content-wrapper { 
            .content-banner {
                height: 380px;
            }
        }
        .service-content{
            .content-subtitle{
                font-size: 26px;
            }
            .content-description{
                font-size: 15px;
                line-height: 24px;
            }
        }
        .service__item-content{
            .service-item{
                margin-top: 16px;
                column-gap: 15px;
                .check-icon{
                    width: 16px;
                    font-size: 15px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .offers__content-wrapper{
            .content-subtitle{
                font-size: 27px;
            }
            .content-description{
                font-size: 15px;
                line-height: 28px;
            }
        }
    }

    @media only screen and (max-width:790px){
        .single__service-banner{
            img{
                height: 340px;
            }
            .single__banner-content{
                row-gap: 10px;
                .content-subtitle{
                    font-size: 40px;
                }
                .banner__link-content{
                    column-gap: 10px;
                    .home-link, p{
                        font-size: 16px;
                    }
                    span{
                        font-size: 16px;
                    }
                   
                }
            }
        }
        .service__content-main__wrapper{
            padding: 0 2.5rem;
        }

    }

    @media only screen and (max-width:650px){
        .single__service-banner{
            img{
                height: 300px;
            }
            .single__banner-content{
                .content-subtitle{
                    font-size: 40px;
                }
                .banner__link-content{
                    column-gap: 10px;
                    .home-link, p{
                        font-size: 16px;
                    }
                    span{
                        font-size: 16px;
                    }
                   
                }
            }
        }
        .service__content-main__wrapper{
            padding: 0 1rem;
        }
        .information__content-wrapper { 
            .content-banner {
                height: 320px;
            }
        }
        .service-content{
            .content-subtitle{
                font-size: 23px;
            }
            .content-description{
                font-size: 14px;
                line-height: 22px;
            }
        }
        .service__item-content{
            .service-item{
                margin-top: 16px;
                column-gap: 15px;
                .check-icon{
                    width: 8px !important;
                        font-size: 13px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
        .content-info {
    
            .info-title {
                font-size: 28px !important;
            }
    
            .info-description {
                font-size: 14px !important;
                line-height: 24px !important;
            }
        }
        
    .treatment__content-wrapper{
        .content-title {
            font-size: 30px;
        }
        .content-description{
            margin-top: .8rem;
            line-height: 22px;
            font-size: 14px;
        }
    }
        .offers__content-wrapper{
            .content-subtitle{
                font-size: 25px;
            }
            .content-description{
                font-size: 14px;
                line-height: 24px;
            }
            .ant-collapse-content-box > p{
                font-size: 14px;
            }
        }

    }

    @media only screen and (max-width:560px){
        .information__content-wrapper{
            .content-banner{
                height: 280px;
                object-position: top;
            }
        }
        .information__service-wrapper{
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 16rem;
        }
              .service-content{
                max-width: 100%;
            .content-subtitle{
                font-size: 28px;
            }
            .content-description{
                font-size: 16px;
                width: 100%;
                line-height: 24px;
                max-width: 100%;
                width: 100%;
            }
        }
        .service__item-content{
            .service-item{
                margin-top: 16px;
                column-gap: 15px;
                .check-icon{
                    width: 20px !important;
                        font-size: 20px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width:492px){
        .single__service-banner{
            img{
                height: 290px;
            }
            .single__banner-content{
                row-gap: 10px;
                .content-subtitle{
                    font-size: 35px;
                }
                .banner__link-content{
                    column-gap: 10px;
                    .home-link, p{
                        font-size: 15px;
                    }
                    span{
                        font-size: 16px;
                    }
                   
                }
            }
        }
        .information__content-wrapper{
            .content-banner{
                height: 280px;
            }
        }
        .information__service-wrapper{
            row-gap: 16rem;
        }
              .service-content{
                max-width: 100%;
            .content-subtitle{
                font-size: 26px;
            }
            .content-description{
                font-size: 14px;
                width: 100%;
                line-height: 24px;
                max-width: 100%;
                width: 100%;
            }
        }
        .service__item-content{
            .service-item{
                margin-top: 16px;
                column-gap: 15px;
                .check-icon{
                    width: 20px !important;
                        font-size: 16px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }

    @media only screen and (max-width:412px){
        .service__content-main__wrapper{
            padding: 0;
        }
        .single__service-banner{
            img{
                height: 270px;
            }
            .single__banner-content{
                row-gap: 10px;
                .content-subtitle{
                    font-size: 32px;
                }
                .banner__link-content{
                    column-gap: 10px;
                    .home-link, p{
                        font-size: 14px;
                    }
                    span{
                        font-size: 15px;
                    }
                   
                }
            }
        }
        .information__content-wrapper{
            .content-banner{
                height: 265px;
            }
        }
        .content-info {
            margin-top: 2rem;
    
            .info-title {
                font-size: 23px !important;
            }
    
            .info-description {
                margin-top: 1rem;
                font-size: 13px !important;
                line-height: 23px !important;
            }
        }
        .treatment__content-wrapper{
            .content-title {
                font-size: 25px;
            }
            .content-description{
                margin-top: .8rem;
                line-height: 22px;
                font-size: 13px;
            }
        }


        .information__service-wrapper{
            row-gap: 16rem;
        }
             
        .service-content{
                max-width: 100%;
            .content-subtitle{
                font-size: 26px;
            }
            .content-description{
                font-size: 14px;
                line-height: 22px;
            }
        }
        .service__item-content{
            .service-item{
                margin-top: 16px;
                column-gap: 15px;
                .check-icon{
                    width: 18px !important;
                        font-size: 15px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .offers__content-wrapper{
            .content-subtitle{
                font-size: 22px;
            }
            .content-description{
                line-height: 22px;
                font-size: 13px;
            }
            .ant-collapse-item{
                padding: 6px !important;
                .ant-collapse-header-text{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }


 @media only screen and (max-width:380px){
    .single__service-banner{
        img{
            height: 240px;
        }
        .single__banner-content{
            .content-subtitle{
                font-size: 28px;
            }
            .banner__link-content  .home-link, p{
                    font-size: 13px;
                }
               
            
        }
    }
    .work__time-card {
        margin-top: 2.2rem;
        border-radius: 24px;
        padding: 1.3rem 1.8rem;
    
        .time__card-title {
            font-size: 17px;
        }
    }
    
    .time-item  p {
        font-size: 14px;
            font-weight: 500;
        }
    
 }