.about__us-banner{
    position: relative;
    width: 100%;
    height: 460px;
    .banner-image{
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        // object-position: top;
        filter: blur(1px);
    }
}
.about__us-banner > .banner-content{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.192);
    display: flex;

    align-items: center;
    padding-left: 4rem;
    h3{
        margin-top: 10rem;
        font-size: 80px;
        font-weight: 700;
        color: var(--light-color);
    }

}

.hospital__banner-wrapper{
    width: 100%;
    height: 530px;
    // padding: 14rem;
    // background-color: var(--primary-dark-color);
    position: relative;
    .hospital-image{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: bottom;

    }
}

.banner-content{
    position: absolute;
    width: 100%;
    top: 0%;
    height: 100%;
    left: 0%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.637);

    h4{
        display: inline-block;
        font-size: 53px;
        font-weight: 800;
        max-width: 690px;
        line-height: 64px;
        margin:8rem  auto 0;
        color: var(--light-color);
        span{color: #21D488;}
       
    }
    .content-action{
        margin-top: 3.4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.5rem;
        a{
            padding: 1.1rem 2.8rem;
            border-radius: 28px;
            border: none;
            font-weight: 600;
            font-size: 15px;
            transition: .4s;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                transform: translateY(-5%);
            }
        }
        .appointment-btn{
            background-color: var(--primary-light-color);
            color: var(--light-color);
        }
        .contact-btn{
            background-color: #21D488;
            color: var(--light-color);
        }
    }
}