:root{
    --light-color: #fff;
    --dark-color: #000;
    --primary-light-color: #2490EB;
    --primary-dark-color: #000D44;
    --success-color: #43D3A2;
    --warning-color: #FFA21D;
    --danger-color: #FF3A6E;
    --secondary-light-color: #7a7a7a;
    --secondary-dark-color: #2d304e;
}   