:root{
    --light-color: #fff;
    --dark-color: #000;
    --primary-light-color: #2490EB;
    --primary-dark-color: #000D44;
    --secondary-light-color: #7a7a7a;
    --secondary-dark-color: #2d304e;
}